
<!-- ------ -->
<!-- Header -->
<!-- ------ -->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Expenses</ion-title>
  </ion-toolbar>
</ion-header>
<ion-fab slot="fixed" vertical="bottom" horizontal="end">
  <ion-fab-button>
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="top">
    <ion-fab-button>
      <ion-icon name="document"></ion-icon>
    </ion-fab-button>
    <ion-fab-button>
      <ion-icon name="color-palette"></ion-icon>
    </ion-fab-button>
    <ion-fab-button>
      <ion-icon name="globe"></ion-icon>
    </ion-fab-button>
  </ion-fab-list>
</ion-fab>


<ion-content class="ion-padding">
  <ion-list>
    <ion-item>



    </ion-item>
  </ion-list>
  <ion-grid class="ion-padding">
    <ion-row>
      <ion-col size="12" size-sm="6">
        <ion-item>
          <ion-icon class="md hydrated" name="swap-vertical" role="img" slot="start"></ion-icon>
          <ion-select interface="popover" placeholder="Categories">
            <ion-select-option></ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col size="12" size-sm="6">
        <ion-item>
          <ion-icon name="search" slot="start"></ion-icon>
          <ion-input maxlength="40" placeholder="Search" [clearInput]="true"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  <h1>Content</h1>
</ion-content>
<!-- Categories -->
<ion-item button="true" [detail]="true" (click)="openModal()">
  <ion-label>Auswärts Essen</ion-label>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="openModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-item>
